//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                    IMPORTS
//? ------------------------------------------------------------------------------------------------------------------------------

/*  ---------------------------------------------------IMPORTS-------------------------------------------------------------------- */
/*                                                                                                                                 */
/*  ------------------------------------------------------------------------------------------------------------------------------ */
@import '_fonts';
@import '_settings.scss';
@import '_reset-styles.scss';
//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                  INFO IN CSS
//? ------------------------------------------------------------------------------------------------------------------------------
/*  -------------------------------------------------INFO IN CSS------------------------------------------------------------------ */
/* version #{$version}                                                                                                             */
/*  ------------------------------------------------------------------------------------------------------------------------------ */
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                    STYLES
//? ------------------------------------------------------------------------------------------------------------------------------
/*  ---------------------------------------------------STYLES--------------------------------------------------------------------- */
/*                                                                                                                                 */
/*  ------------------------------------------------------------------------------------------------------------------------------ */
//? ------------------------------------------------------------------------------------------------------------------------------
//?                                         Large screens min-width : 1824px
//? ------------------------------------------------------------------------------------------------------------------------------

.landing-page {
    background-color: #ebebeb;
    .bg-navbar {
        // background-color: #ebebeb;
        height: 230px;
    }

    .bg-slider {
        height: calc(100vh - 230px);
        width: 100%;
        background-image: url(../../img/header/Slider.png);
        background-size: cover;
        background-position: center;
    }

    .bg-travel-guide {}

    .bg-service {}

    .bg-sub-servive {}

    .bg-about-the-tour-how-to {
    }

    .bg-footer {}






    .container {
        width: $container;
        margin: 0 auto;
    }
}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          iPads (Portrait and Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width : 1224px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          iPads (Portrait and Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                iPads (Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                  iPads (Portrait)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          Smartphones (portrait and landscape)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                               Smartphones (landscape)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width : 321px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                               Smartphones (portrait)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width : 320px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                     iPhone 4
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}